body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost',sans-serif;
    background: #111;
    /* background: url("../images/background-dangnhap.jpg") no-repeat center / cover;  */
    /* /* background: linear-gradient(to bottom, #0f0c29,#302b63,#24243e);/* */
}
.main{
    position: relative;
    width: 350px;
    height: 600px;
    background: red;
    color: #fff;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    justify-content: center;
    align-items: center;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.signup p{
    width:70%;
    height:20px;
    display:flex;
    margin: 10px auto;
    font-weight: bold;
}
input{
    width:70%;
    height:20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 70%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
.show-password{
    width: 10%;
    margin-bottom: 10px;
    font-weight: bold;
}
i{
    position: fixed;
    float: right;
    margin-left: 200px;
    cursor: pointer;
    font-size: 18px;
}
#hide{
    display: none;
}
body img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
strong{
    width: 70%;
    height: 20px;
    display: flex;
    margin: 0 auto;
    color:green;
}
b{
    width: 60%;
    height: 20px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    color:#fff;
}


